.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.MD-container {
  width: 100%;
  background-color: #282c34;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.MD-vis {
  display: flex;
  width: 60%;
  padding: 2vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 8;
}

.MD-params {
  padding-left: 2vh;
  min-height: 0vh;
  align-items: flex-start;
  text-align: left;
  display: flex;
  flex-direction: column;
  color: white;
  flex-grow: 1;
}

.MD-param-group {
  display: grid;
}

.MD-vis-controls {
  display: inline flex;
  justify-content: space-between;
  color: white;
  align-content: center;
  align-items: center;
  vertical-align: middle;
}

.HorizontalSpacer {
  min-width: 1vh;
  background-color: transparent;
  flex-grow: 1;
}

.App-button {
  min-height: 3vh;
  vertical-align: middle;
  text-align: center;
  background-color: transparent;
  border: none;
  color: white;
  padding: 0.2vh;
  display: inline-block;
  transition-duration: 0.2s;
  cursor: pointer;
}
.App-button:hover {
  color: #0b7762;
}

/* based on: https://css-tricks.com/making-pure-css-playpause-button/ */
.PlayButton {
  border: 0;
  background: transparent;
  box-sizing: border-box;
  vertical-align: middle;
  cursor: pointer;

  width: 3vh;
  height: 3vh;

  border-color: transparent transparent transparent white;
  transition: 100ms all ease;
}

.PlayButton.play {
  border-style: solid;
  border-width: 1.5vh 0 1.5vh 2.4vh;
}

.PlayButton.pause {
  border-style: double;
  border-width: 0 0 0 2.4vh;
}

.PlayButton:hover {
  border-color: transparent transparent transparent #0b7762;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
