
:root {
  /* Colours */
  /* Dark */
  --col-bg: #222;
  --col-frame: #444;
  --col-frame-hover: #555;
  --col-frame-content: #333;
  --col-tab-disabled: #999;
  --col-icon-hover: #bbb;
  --col-fg: #eee;
  --col-add-button: #eee;

  /* Unaffected by light/dark */
  --col-smiles-bg: #eee;
  --col-smiles-fg: #111;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-items: flex-start;
  background-color: var(--col-bg);
  height: 100vh;
  width: 100vw;
  font-size: 11pt;
}

.App-header {
  flex-grow: 0;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  color: var(--col-fg);
  background: var(--col-frame);
  margin: 0;
  padding: 0;
  margin-bottom: 1px;
  overflow: hidden;
}

.header-text {
  padding: 10px;
  font-size: 19pt;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: left;
}

.header-button-container {
  display: flex;
  flex-direction: row-reverse;
  align-items: stretch;
}

.header-button {
  padding: 10px;
  font-size: 10pt;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-items: center;
  background-color: var(--col-frame);
}
.header-button:hover {
  background-color: var(--col-frame-hover);
}

.view-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* grid-template-columns: 0fr 8px 1fr; */
  background-color: var(--col-bg);
  gap: 0;
  flex-grow: 1;
  width: 100%;
}

.tab-container {
  flex-grow: 1;
  display: grid;
  grid-template-columns: 9em 1fr;
  border: none;
  height: 100%;
  max-height: 100%;
  max-width: calc(100vw - 8px);
  min-width: 350px;
  width: 510px;
}

.tab-buttons {
  display: grid;
  flex-grow: 0;
  grid-template-columns: 1fr;
  grid-auto-rows: min-content;
  row-gap: 1px;
  padding-left: 5px;
  overflow-x: hidden;
  background-color: var(--col-bg);
  border-right-color: var(--col-frame);
  border-right-style: solid;
  border-right-width: 6px;
}

.tab-button {
  margin: 0;
  margin-left: 9px;
  font-size: 12pt;
  padding: 9px;
  background-color: var(--col-frame-content);
  color: var(--col-fg);
  cursor: pointer;
  border: none;
  border-radius: 0;
  text-align: right;
  /* writing-mode: vertical-lr; */
  /* text-orientation: sideways; */
  /* transform: translate(14pt, 0) rotate(180deg); */
}
.tab-button:not([disabled]):hover {
  background-color: var(--col-frame);
}
.tab-button:disabled {
  cursor: default;
  color: var(--col-tab-disabled);
}

.tab-button-selected {
  margin-left: 0;
  background-color: var(--col-frame);
}

.MD-container {
  background-color: var(--col-bg);
  display: block;
  flex-direction: row;
  align-items: flex-start;
}


.vis-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: top;
  background-color: var(--col-bg);
  margin-bottom: 9px;
}

.MD-vis {
  display: flex;
  padding: 7px;
  margin: 0;
  margin-top: 9px;
  flex-direction: column;
  align-items: stretch;
  justify-content: top;
  background: var(--col-frame);
}

.MD-vis-resize {
  cursor: ew-resize;
  background: transparent;
  width: 8px;
  max-width: 8px;
  min-width: 8px;
  height: 100%;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.resize-container {
  display: flex;
  flex-direction: row;
  width: 518px;
  min-width: 358px;
  max-width: 100%;
}

.MD-params {
  flex-grow: 1;
  overflow-y: auto;
  padding: 9px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-items: flex-start;
  text-align: left;
  color: var(--col-fg);
  background-color: var(--col-bg);
  min-width: 175px;
}

.MD-param-group {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-items: flex-start;
}

.MD-vis-controls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: var(--col-fg);
  background: var(--col-frame);
  align-content: center;
  align-items: center;
  padding: 0;
  margin: 9px;
  margin-bottom: 2px;
}

/* based on: https://css-tricks.com/making-pure-css-playpause-button/ */
.play-button {
  border: 0;
  background: transparent;
  box-sizing: border-box;
  vertical-align: middle;
  cursor: pointer;

  width: 16px;
  height: 16px;

  border-color: transparent transparent transparent var(--col-fg);
  transition: 100ms all ease;
}

.play-button.play {
  border-style: solid;
  border-width: 8px 0 8px 12.8px;
}

.play-button.pause {
  border-style: double;
  border-width: 0 0 0 12.8px;
}

.play-button:hover {
  border-color: transparent transparent transparent var(--col-icon-hover);
}

.App-link {
  color: #61dafb;
}


.submit-button {
  margin: 0;
  padding: 9px;
  margin-top: 9px;
  font-size: 13pt;
  border: none;
  background-color: #009933;
  color: var(--col-fg);
  cursor: pointer;
  align-self: stretch;
}
.submit-button:not([disabled]):hover {
  background-color: #00b33c;
}
.submit-button:disabled {
  background-color: var(--col-frame-content);
  cursor: unset;
}

.cancel {
  background-color: #992600;
}
.cancel:not([disabled]):hover {
  background-color: #b32d00;
}

.roughness {
  background-color: #002699;
  color: var(--col-smiles-bg);
}
.roughness:not([disabled]):hover {
  background-color: #002db3;
  color: var(--col-smiles-bg);
}

.login {
  background-color: #002699;
  color: var(--col-smiles-bg);
}
.login:not([disabled]):hover {
  background-color: #002db3;
  color: var(--col-smiles-bg);
}

.toggle-slider {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 16px;
}

/* Hide default HTML checkbox */
.toggle-slider input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  border-radius: 16px;
  -webkit-transition: .2s;
  transition: .2s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 3px;
  bottom: 2px;
  background-color: var(--col-smiles-bg);
  border-radius: 50%;
  -webkit-transition: .2s;
  transition: .2s;
}

input:checked + .slider {
  background-color: #04c;
}

input:focus + .slider {
  box-shadow: 0 0 1px #04c;
}

input:checked + .slider:before {
  -webkit-transform: translateX(12px);
  -ms-transform: translateX(12px);
  transform: translateX(12px);
}

.molecule-tile {
  background: var(--col-smiles-bg);
  color: var(--col-smiles-fg);
  height: 160px;
  text-align: center;
  display: block;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.molecule-tile-clickable {
  height: 140px;
  cursor: pointer;
}
.molecule-tile-clickable:hover {
  background: #ccc;
}

.molecule-tile-add {
  color: var(--col-add-button);
  background: transparent;
  border-style: solid;
  border-color: var(--col-add-button);
  border-radius: 0;
  cursor: pointer;
  height: 160px;
  text-align: center;
  font-size: 24pt;
}

.molecule-tile-grid {
  padding: 8px;
  display: grid;
  gap: 8px;
  grid-template-columns: repeat( auto-fill, minmax(140px, 1fr));
  grid-auto-rows: 160px;
  overflow-y: scroll;
  min-height: 180px;
  min-width: 160px;
}

.molecule-picker-content {
  display: flex;
  flex-direction: row;
  max-height: 70vh;
}

.molecule-picker-imgfill {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--col-smiles-bg);
  width: 30vw;
}

.molecule-picker-3d {
  background-color: var(--col-frame-content);
  width: 30vw;
  height: 70vh;
}

.collapsible {
  background-color: var(--col-frame);
  color: var(--col-fg);
  cursor: pointer;
  padding: 9px;
  text-align: left;
  outline: none;
  font-size: 14pt;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.collapsible:hover {
  background-color: var(--col-frame-hover);
}
.no-hover {
  cursor: default;
}
.no-hover:hover {
  background-color: var(--col-frame);
}

.number-spin-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.icon-button {
  flex: 0;
  padding: 0;
  color: var(--col-fg);
  background: transparent;
  border: none;
  cursor: pointer;
  display: inline-flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  transition: 100ms all ease;
}
.icon-button:not([disabled]):hover {
  color: var(--col-icon-hover);
}
.icon-button:disabled {
  cursor: default;
}
.inverted {
  color: var(--col-smiles-fg);
}
.inverted:not([disabled]):hover {
  color: var(--col-frame);
}
.display-only {
  cursor: default;
}
.display-only:not([disabled]):hover {
  color: var(--col-fg);
}
.display-only:hover {
  cursor: default;
}

.icon-button-toggled {
  flex: 0;
  padding: 0;
  color: var(--col-frame);
  background: var(--col-fg);
  border: none;
  cursor: pointer;
  display: inline-flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  transition: 100ms all ease;
  border-radius: 3px;
}
.icon-button-toggled:hover {
  background: var(--col-icon-hover);
}

.header {
  float: right;
  margin-left: auto;
  font-size: 14pt;
}

.corner-button {
  margin: 4px;
}

.hover-red:not([disabled]):hover {
  color: #b32d00;
}
.hover-blue:not([disabled]):hover {
  color: #002db3;
}

.collapsible-content {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-items: flex-start;
  padding: 9px;
  margin-bottom: 9px;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: var(--col-frame-content);
}

.collapsible-content ol li {
  font-weight: bold
}
.collapsible-content ol li p {
  font-weight: normal;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-items: left;
}

.molecule-picker {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-items: flex-start;
  padding: 0;
  background-color: var(--col-frame-content);
  color: var(--col-fg);
  height: 80vh;
  width: 50%;
}

.molecule-picker-surround {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0,0,0,0.7);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}

.login-bg {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--col-bg);
  flex-grow: 1;
}

.login-panel {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
}

.login-form {
  padding: 15px;
  background-color: var(--col-frame);
  color: var(--col-fg);
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.login-form input {
  font-size: 11pt;
  padding: 5px;
}

.login-fail {
  padding: 15px;
  margin-top: 10px;
  color: var(--col-fg);
  font-size: 13pt;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  background-color: #b32d00;
}
