.App {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-items: flex-start;
  background-color: #222; /*#282c34;*/
  height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  flex-grow: 0;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  color: white;
  background: #444;
  margin: 0;
  padding: 0;
  margin-bottom: 1pt;
  overflow: hidden;
}

.header-text {
  padding: 12pt;
  font-size: 21pt;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: left;
}

.header-button-container {
  display: flex;
  flex-direction: row-reverse;
  align-items: stretch;
}

.header-button {
  padding: 12pt;
  font-size: 11pt;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-items: center;
  background-color: #444;
}
.header-button:hover {
  background-color: #555;
}

.view-container {
  display: grid;
  grid-template-columns: 0.42fr 0.58fr;
  background-color: #222;
  gap: 10pt;
  flex-grow: 1;
}

.tab-container {
  flex-grow: 1;
  display: grid;
  grid-template-columns: 9em 1fr;
  border: none;
}

.tab-buttons {
  display: grid;
  flex-grow: 0;
  grid-template-columns: 1fr;
  grid-auto-rows: min-content;
  row-gap: 1pt;
  padding-left: 5pt;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: #222;
  border-right-color: #444;
  border-right-style: solid;
  border-right-width: 8pt;
}

.tab-button {
  margin: 0;
  margin-left: 10pt;
  font-size: 12pt;
  padding: 10pt;
  background-color: #333;
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 0;
  text-align: right;
  /* writing-mode: vertical-lr; */
  /* text-orientation: sideways; */
  /* transform: translate(14pt, 0) rotate(180deg); */
}
.tab-button:not([disabled]):hover {
  background-color: #444;
}
.tab-button:disabled {
  cursor: default;
  color: #999;
}

.tab-button-selected {
  margin-left: 0;
  background-color: #444;
}

.MD-container {
  background-color: #222;
  display: block;
  flex-direction: row;
  align-items: flex-start;
}


.vis-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: top;
  background-color: #222;
  margin-bottom: 10pt;
}

.MD-vis {
  display: flex;
  padding: 8pt;
  margin: 0;
  margin-top: 10pt;
  flex-direction: column;
  align-items: stretch;
  justify-content: top;
  background-color: #444;
}

.MD-params {
  flex-grow: 1;
  overflow-y: auto;
  padding: 10pt;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-items: flex-start;
  text-align: left;
  color: white;
  background-color: #222;
}

.MD-param-group {
  flex-grow: 1;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-items: flex-start;
}

.MD-vis-controls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: white;
  align-content: center;
  align-items: center;
  padding: 0;
  margin: 10pt;
  margin-bottom: 2pt;
}

/* based on: https://css-tricks.com/making-pure-css-playpause-button/ */
.play-button {
  border: 0;
  background: transparent;
  box-sizing: border-box;
  vertical-align: middle;
  cursor: pointer;

  width: 16pt;
  height: 16pt;

  border-color: transparent transparent transparent white;
  transition: 100ms all ease;
}

.play-button.play {
  border-style: solid;
  border-width: 8pt 0 8pt 12.8pt;
}

.play-button.pause {
  border-style: double;
  border-width: 0 0 0 12.8pt;
}

.play-button:hover {
  border-color: transparent transparent transparent #bbb;
}

.App-link {
  color: #61dafb;
}


.submit-button {
  margin: 0;
  padding: 10pt;
  margin-top: 10pt;
  font-size: 14pt;
  border: none;
  background-color: #009933;
  color: white;
  cursor: pointer;
  align-self: stretch;
}
.submit-button:hover {
  background-color: #00b33c;
}
.submit-button:disabled {
  background-color: lightgrey;
  cursor: unset;
}

.cancel {
  background-color: #992600;
}
.cancel:hover {
  background-color: #b32d00;
}

.roughness {
  background-color: #002699;
}
.roughness:hover {
  background-color: #002db3;
}

.toggle-slider {
  position: relative;
  display: inline-block;
  width: 32pt;
  height: 14pt;
}

/* Hide default HTML checkbox */
.toggle-slider input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  border-radius: 14pt;
  -webkit-transition: .2s;
  transition: .2s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 10pt;
  width: 10pt;
  left: 4pt;
  bottom: 2pt;
  background-color: white;
  border-radius: 50%;
  -webkit-transition: .2s;
  transition: .2s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1pt #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(14pt);
  -ms-transform: translateX(14pt);
  transform: translateX(14pt);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.molecule-tile {
  background: '#eee';
  color: 'black';
  height: 150pt;
  text-align: center;
  display: block;
  /* border-style: none; */
  /* border-radius: 0; */
}

.molecule-tile-clickable {
  height: 130pt;
  cursor: pointer;
}
.molecule-tile-clickable:hover {
  background: #ccc;
}

.molecule-tile-add {
  color: white;
  background: transparent;
  border-style: solid;
  border-color: #eee;
  border-radius: 0;
  cursor: pointer;
  height: 150pt;
  text-align: center;
  font-size: 24pt;
}

.molecule-tile-grid {
  padding: 10pt;
  display: grid;
  gap: 10pt;
  grid-template-columns: repeat( auto-fill, minmax(130pt, 1fr));
  grid-auto-rows: 150pt;
  overflow-y: scroll;
  min-height: 150pt;
}

.molecule-picker-content {
  display: flex;
  flex-direction: row;
  max-height: 70vh;
}

.molecule-picker-imgfill {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #eee;
  width: 30vw;
}

.molecule-picker-3d {
  background-color: #333;
  width: 30vw;
  height: 70vh;
}

.collapsible {
  background-color: #444;
  color: white;
  cursor: pointer;
  padding: 10pt;
  text-align: left;
  outline: none;
  font-size: 14pt;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.collapsible:hover {
  background-color: #555;
}
.no-hover {
  cursor: default;
}
.no-hover:hover {
  background-color: #444;
}

.number-spin-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.icon-button {
  flex: 0;
  padding: 0;
  color: white;
  background: transparent;
  border: none;
  cursor: pointer;
  display: inline-flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  transition: 100ms all ease;
}
.icon-button:not([disabled]):hover {
  color: #bbb;
}
.icon-button:disabled {
  cursor: default;
}
.inverted {
  color: black;
}
.inverted:not([disabled]):hover {
  color: #444;
}
.display-only {
  cursor: default;
}
.display-only:not([disabled]):hover {
  color: white;
}
.display-only:hover {
  cursor: default;
}

.header {
  float: right;
  margin-left: auto;
  font-size: 16pt;
}

.corner-button {
  margin: 4pt;
}

.hover-red:not([disabled]):hover {
  color: #b32d00;
}
.hover-blue:not([disabled]):hover {
  color: #002db3;
}

.collapsible-content {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-items: flex-start;
  padding: 10pt;
  margin-bottom: 10pt;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #333;
}

.collapsible-content ol li {
  font-weight: bold
}
.collapsible-content ol li p {
  font-weight: normal;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-items: left;
}

.molecule-picker {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-items: flex-start;
  padding: 0;
  background-color: #333;
  color: white;
  height: 80vh;
  width: 50%;
}

.molecule-picker-surround {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0,0,0,0.7);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}

.login-bg {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #222;
  flex-grow: 1;
}

.login-panel {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
}

.login-form {
  padding: 15pt;
  background-color: #444;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.login-form input {
  font-size: 11pt;
  padding: 5pt;
}

.login-button {
  margin: 0;
  padding: 3pt;
  margin-top: 5pt;
  font-size: 14pt;
  border: none;
  background-color: #002699;
  color: white;
  cursor: pointer;
  align-self: stretch;
}
.login-button:hover {
  background-color: #002db3;
}

.login-fail {
  padding: 15pt;
  margin-top: 10pt;
  color: white;
  font-size: 13pt;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  background-color: #b32d00;
}
